{% include 'header.html.twig' %}

  <h2>Pease fill out the blanks.</h2>

  <form action="/goback" method="post">
    <button type="submit" class="btn bg-warning">Go back</button>
  </form>

{% include 'footer.html.twig' %}
