{% include 'header.html.twig' %}
  {% if results is not empty %}
    {% for result in results %}
      <h3>Result</h3>
      <li>Word you checked: {{ result.user_word }} </li>
      <li>In sentence: {{ result.user_sentence }} </li>
      <li>Repeat times: {{ result.countRepeats }} </li>
    {% endfor %}

    <form action="/goback" method="post">
      <button type="submit" class="btn bg-warning">Go back</button>
    </form>

    <form action="/delete" method="post">
      <button type="submit" class="btn bg-danger">Delete All</button>
    </form>

  {% endif %}
{% include 'footer.html.twig' %}
