h1 {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px white, 0 0 25px red, 0 0 5px purple;
  font-family: 'Satisfy', cursive;
}

.jumbotron {
  background-color: #0000ff;
}

h2 {
  color: red;
}

label {
  color: white;
}

body {
  background-color: darkblue;
}

h3 {
  color: white;
  font-family: 'Clicker Script', cursive;
  font-size: 35px;
}

li {
  color: white;
}

button#delete {
  float: right;
  margin-top: -3%;
  color: red;
}

button#back {
  color: green;
}
